* {
    margin: 0;
    /*Resetear los margenes del navegador */
    padding: 0;
}

html,
body {
    font-size: 18px;
    background-color: #1b344e;
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: sans-serif;;
  }

.contenedor-logo{
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fcLogo{
    width: 150px;
}

.contenedor-contador{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}